<div ui-content-for="title" ng-init="getNearbyProductList()">
    <span>Near by Product's</span>
</div>
<div class="list-group">
    <a ng-repeat="offer in prodListData" class="list-group-item"
    ng-click="onprodListItemClickfromHome($event);" style="pointer:cursor;">
      <div class="row">
          <div style="width:150px; border-raduis:4px;">
              <img src="img/{{offer.imageName}}" class="col-xs-12" />
          </div>
          <div style="float:left; padding-left:0px;width:55%;">
              <h4 class="list-group-item-heading">{{offer.shopName}}</h4>
              <h6 class="list-group-item-text">{{offer.sDesc}}</h6>
              <p class="list-group-item-text" style="font-size:11px;">{{offer.lDesc}}</p>
          </div>
      </div>
    </a>
</div>
