<div class="content scrollable-content" style="padding: 10px 22px;background-color:white;" ng-init="onProductDescriptionPageInit()">
  <div class="row">
    <table style="width:100%;">
      <tbody>
        <tr>
          <td><h4>Product Short desc</h4></td>
          <td style="text-align: right;"><img src="img/croma.jpg" style="width:50px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="imageDiv">
        <img src="img/red_sofa.jpg"/>
    </div>
  </div>
  <div class="row">
    <div>Product Long description</div>
  </div>
  <div class="row" style="text-align:center;">
    <button class="btn btn-default" ng-click="goToStorePage()" ng-show="prodPage_showStrBtn">Show in Store</button>
    <button class="btn btn-default" ng-click="goToStorePage()" ng-show="!prodPage_showStrBtn">Back to Store</button>
    <button class="btn btn-default" ng-click="iAmIntrested()">
      <span class="fa fa-lg" ng-class="{'fa-heart-o': !isIntrested, 'fa-heart': isIntrested}" aria-hidden="true"></span>
      I'm Intrested
      <span class="badge">2.3K</span>
    </button>
  </div>
</div>
