<div class="content scrollable-content" style="padding: 10px 22px;background-color:white;" ng-init="onProductDescriptionPageInit()">
  <div class="row">
    <table style="width:100%;">
      <tbody>
        <tr>
          <td><h4>Apple iPhone 6</h4></td>
          <td style="text-align: right;"><img src="img/croma.jpg" style="width:50px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="imageDiv">
        <img src="img/iPhone6s_lrg.jpg"/>
    </div>
  </div>
  <div class="row">
    <div style="margin-top: 10px">This is Apple like we've never seen before. Apple like we never thought we'll see. To begin with, there's supposed to be no better iPhone than the iPhone 6. That's the sort of thing you'd expect of Apple. Come September every year, the world grabs a bag of popcorn and gets ready to watch Apple's bestest iPhone yet come on stage in all its glory.</div>
  </div>
  <div class="row" style="text-align:center; margin-top: 15px">
    <button class="btn btn-default" ng-click="goToStorePage()" ng-show="prodPage_showStrBtn">Show in Store</button>
    <button class="btn btn-default" ng-click="goToStorePage()" ng-show="!prodPage_showStrBtn">Back to Store</button>
    <button class="btn btn-default" ng-click="iAmIntrested()">
      <span class="fa fa-lg" ng-class="{'fa-heart-o': !isIntrested, 'fa-heart': isIntrested}" aria-hidden="true"></span>
      I'm Intrested
      <span class="badge">2.3K</span>
    </button>
  </div>
</div>
